.button-general {
    height: 40px;
    min-width: 150px;
    border-radius: 10px;
    border: 1px #000 solid;    
    font-size: 20px;
    background-color: #fff;
    margin: 10px;
}
.button-general:hover {
    opacity: 0.6;
}
.button-general:active {
    opacity: 0.4;
}
