*{
  box-sizing: border-box;
}
.container {
  width: 1024px;
  margin: 10px auto;
}
.header{
  display: flex;
  width: 70%;  
  margin: 0 auto 10px;
  padding: 10px 20px;
  
}
.header-input_text{
  width: 40%;
  height: 30px;
  font-size: 14px;
  margin-right: 20px;
}
.header-select_age{
  width: 100px;
  margin-right: 20px;
}
.header-button{
  width: 100px;
  background-color: #ffd700;
  border-radius: 10px;
}
.main {
  display: flex;
  flex-wrap: wrap;   
}
.user-card {
  width: 300px;
  border: 1px black solid;
  padding: 10px 20px;
  margin: 0 5px 10px 5px;
  background-color: #faebd7;
}